@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

@theme {
  --font-display: "Poppins", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

/* Light Mode Defaults */
body {
  background-color: #FFFDF7;
  /* Warm Off-White */
  color: #1A1A1A;
  @apply transition-colors duration-300;
}

/* Dark Mode Overrides */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0D1117;
    /* Deep Midnight */
    color: #F0F6FC;
  }
}

@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-zalando {
    font-family: 'Zalando Sans Expanded', sans-serif;
  }
}